<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Last-Subject</display-name>
  <context-param>
    <param-name>/login.do</param-name>
    <param-value>jp.co.comnic.javalesson.webapp.lastsubject.controller.LoginAction</param-value>
  </context-param>
  <context-param>
    <param-name>/logout.do</param-name>
    <param-value>jp.co.comnic.javalesson.webapp.lastsubject.controller.LogoutAction</param-value>
  </context-param>
   <context-param>
    <param-name>/schedule/insert.do</param-name>
    <param-value>jp.co.comnic.javalesson.webapp.lastsubject.controller.InsertAction</param-value>
  </context-param>
  <context-param>
    <param-name>/schedule/remove.do</param-name>
    <param-value>jp.co.comnic.javalesson.webapp.lastsubject.controller.RemoveAction</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleNew</servlet-name>
    <jsp-file>/new.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleNew</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  
 
   <resource-ref>
  	<res-ref-name>ds/last_subject</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>